.aigis-sidemenu
  header.aigis-header
    a(href=root + 'index.html') #{config.name}

  h2.aigis-sidemenu__heading Category
  nav.aigis-categoryList
    != helper.renderCollectionTree('category')

  h2.aigis-sidemenu__heading Overview
  nav.aigis-categoryList
    != helper.renderCollectionTree('overview')

  h2.aigis-sidemenu__heading Overview
  nav.aigis-tags.aigis-tagList
    each overview in config.collection.overview
      a.aigis-tags__item(class="aigis-tags__item--" + tag, href=root + 'overview/' + overview + '/index.html') #{overview}
  //- h2.aigis-sidemenu__heading
  //-   a(href=root + 'color.html') All Colors
